.Pagination{


}

.Pagination ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pagination li {
    background-color: #10b59d;
    color: #fff;
    margin: 10px;
    padding: 10px;
}

.Pagination .active{
    background-color: #ce0059;
}