
.corrida {
    border-left: 5px solid #999999;
    animation: showup .6s ease-out;

}

.corrida a {
    background-color: #ffffff;
    color: #535353;
    font-size: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    min-height: 100px;

}

.corrida:hover {
    box-shadow: 5px 5px 5px #cfcfcf;
    cursor: pointer;
}


.title {
    font-weight: bold;
    color: #27292d;
    padding: 5px;
}

.place {
    font-size: 14px;
    padding: 5px;

}

.date {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 10px 15px;
    border-right: 1px solid #f1f1f1;
}

.date > span {

    font-weight: bold;
    align-self: center;
}

.dia {
    font-size: 28px;
}

.mes {
    font-size: 14px;
}

.ano {
    font-size: 14px;
}


.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}


.info {
    padding-left: 10px;
    padding-top: 10px;

}


@keyframes showup {
    0% {
        opacity: 0;
        margin-top: 40px
    }

    50% {
        opacity: 0;
        margin-top: 40px
    }

    100% {
        opacity: 1;
        margin-top: 0
    }
}
