
.corrida{
    border-left: 5px solid #999999;
    animation: showup .6s ease-out;

}

.corrida a {
    background-color: #ffffff;
    color: #535353;
    font-size: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    min-height: 100px;

}

.corrida:hover {
    box-shadow: 5px 5px 5px #cfcfcf;
    cursor: pointer;
}


.title{
    font-weight: bold;
    color: #27292d;
    padding: 5px;
}

.place {
    font-size: 14px;
    padding: 5px;

}
.date{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 10px 15px;
    border-right: 1px solid #f1f1f1;
}

.date > span{

    font-weight: bold;
    align-self: center;
}

.dia{ font-size: 28px;}
.mes{font-size: 14px;}
.ano{ font-size: 14px;}



.distances {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
}

.distances span {
    border-radius: 5px;
    background-color: #a0a2a3;
    color: white;
    padding: 5px;
    margin: 2px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}


.uf {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 25px;
    height: 25px;
    border: solid 2px #fff;
    color: #f1f1f1;
    border-radius: 20px;
    padding: 15px;
    font-weight: bold;
}

.flag {
    width: 32px;
    height:40px;
display: block;
    padding-top: 8px;
    margin-top: -18px;
    margin-bottom: 10px;
    position: relative;
    background: #73c1b0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.flag:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 13px solid #ffffff;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
}

.info{
    padding-left: 10px;
    padding-top: 10px;

}


@keyframes showup {
    0% {
        opacity: 0;
        margin-top: 40px
    }

    50% {
        opacity: 0;
        margin-top: 40px
    }

    100% {
        opacity: 1;
        margin-top: 0
    }
}
