.background {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(40, 44, 52, 0.29);

}

.loader {
    border: 4px solid #f1f1f1; /* Light grey */
    border-top: 4px solid #10b59d; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: auto;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}