.Corrida {
    display: grid;
    grid-template-columns: 1fr;
}

.infos {

}

.banner {
    background: #44cead;
    min-height: 500px;
}


/* ##Extra Large */
@media (min-width: 768px) {
    .Corrida {
        max-width: 1200px;
        margin: auto;
        grid-template-columns: 2fr 1fr;
    }
}

