.Search{
    display: flex;
    flex-flow: row wrap;
}

.Search > div {
    flex: 100% ;
    margin-top: 5px;
}

.Search input[type="text"]{
    font-size: 20px;
    width: 100%;
    padding: 10px 10px;
    outline: 0;
    border: 0;
    border-bottom: solid 2px #272b33;
    background: #f1f1f1;
    color: #7b7b7b;
    appearance: none;

}

.uf .label{
 font-size: 2rem;
}

/* Reset Select */
.Search select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #f1f1f1 none;
}
/* Remove IE arrow */
.Search select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    /*width: 20em;*/
    height: 3em;
    line-height: 3;
    background: #cfcfcf;
    overflow: hidden;
    border-radius: .25em;
    border-bottom: solid 2px #272b33;
}
.Search select {
    font-size: 20px;
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;

}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #f1f1f1;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}


.submit{
    width: 100%;
    background: #10b59d;
    color: #ffffff;
    padding: 10px 10px;
    border: 1px solid #d6e0eb;
}

.submit:hover{
    cursor: pointer;
    background: #ffffff;
    color: #008e91;
}

/* ##Extra Large */
@media (min-width: 768px) {

    .Search > div {
        flex: auto;
        margin: 1rem;
    }

    .Search input[type="text"]{


    }

    .submit{
        background: #10b59d;
        color: #ffffff;
        padding: 10px 10px;
        margin: 10px auto ;
        border: 1px solid #d6e0eb;
    }
}

