* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 400px auto 400px;
    grid-template-areas: "Header Header" "Main Main" "Footer Footer";
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {

}
/* ----------------- Loader And Animations ----------------- */

.loader {
    border: 4px solid #f1f1f1; /* Light grey */
    border-top: 4px solid #10b59d; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
