@import url('https://fonts.googleapis.com/css?family=Play&display=swap');

* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: 'Play', sans-serif;
    margin: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}
.container {
    display: grid;
    grid-template-columns: minmax(500px, 1fr);
    grid-template-rows: auto auto 400px;
    grid-template-areas: "Header Header" "Main Main" "Footer Footer";
}

/* Responsive layout - when the screen is less than 767px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767px) {

    .container {
        grid-template-rows: auto auto 400px;

    }

}
/* ----------------- Loader And Animations ----------------- */


.error-msg{
    border: solid 1px #650208;
    background: #f1c1d9;
    color: #650208;
    padding: 20px;
    text-align: center;
}


.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
