.Header {
    grid-area: Header;
    display: block;
    background-image: radial-gradient(circle, #1abc9c, #005c5f);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.Header svg {
    display: block;
}
.logo {
    align-self: center;

}

.logo img {
    max-width: 300px;
    transition: all .3s ease-in-out;
}


.logo h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;

}


/* Responsive layout - when the screen is less than 767px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767px) {


    .logo img {
        max-width: 200px;
        transition: all .3s ease-in-out;
    }


}

@keyframes showup {
    0% {
        opacity: 0;
        margin-top: 40px
    }

    50% {
        opacity: 0;
        margin-top: 40px
    }

    100% {
        opacity: 1;
        margin-top: 0
    }
}

@keyframes showdown {
    0% {
        opacity: 0;
        margin-top: -40px
    }

    50% {
        opacity: 0;
        margin-top: -40px
    }

    100% {
        opacity: 1;
        margin-top: 0
    }
}

